#A1
{
    background-color: rgb(211, 114, 140);
    height: 800px;
    width: auto;
}

.A2
{
    background-image: url(pune.jpg);
    height: 400px;
    width: 400px;
    background-repeat: no-repeat;
    float: left;
    margin: 50px;
}


